.footer {
  background-color: #2cbe4e;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-links {
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer-link:hover{
  text-decoration: none;
  color: white;
}

.copylight {
  margin-top: 20px;
  text-align: center;
  color: white;
}
