.item-wrap a:hover {
    text-decoration: none;
}
.item {
    padding:5px;
    margin-bottom: 10px;
}
.caption h4 {
    color: black;
    height: 58px;
    font-size: 24px;
    margin: 10px 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.square-box{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.square-box img{
    position:absolute;
    display:block;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    height: 100%;
    object-fit: contain;
}

