#user-icon {
  text-align: center;
}

#user-icon img {
  max-height: 100px;
  max-width: 100px;
}

#user-name {
  text-align: center;
}

i.good {
  color: #dc3545;
  font-size: 24px;
}

i.normal {
  color: #ffc107;
  font-size: 24px;
}

i.bad {
  color: #007bff;
  font-size: 24px;
}

.rating-count {
  margin-top: 10px;
}

.rating-list {
  padding-top: 10px;
  margin-bottom: 10px;
}
