{% load static %}
<div class="modal fade" id="after-create-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">リツイートキャンペーン</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>以下のリンクから<strong>ツイート</strong>して、出品をみんなにお知らせしてみませんか？</p>
        <p><strong>ホクマ公式Twitterでもリツイートします！より商品が売れやすくなるのでオススメです。</strong></p>
        <div class="text-center" style="margin-top: 30px; margin-bottom: 30px">
          <div class="twitter-button">
            <a href="//twitter.com/share" class="twitter-share-button" data-text="{{product.title}} #ホクマ #北大 @hufurimaさんから" data-url="{{'https://hufurima.com'}}{{request.path}}" data-lang="ja">Tweet</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
