{% load static %}
{% if product %}
  <meta property="og:title" content="{{product.title}} - ホクマ" />
  <meta property="og:site_name" content="{{product.title}} - ホクマ" />
  <meta property="og:description" content="{{product.description}}" />
{% else %}
  <meta property="og:title" content="ホクマ 北大生のためのフリマサイト" />
  <meta property="og:site_name" content="ホクマ 北大生のためのフリマサイト" />
  <meta property="og:description" content="北大生が開発！北大生による北大生のためのフリマサイト「ホクマ」です。直接会って渡すから、手数料０。北大生同士の運命の出会いもあるかも・・・？" />
{% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% if ogp_image_url %}
  <meta property="og:image" content="{{ ogp_image_url }}" />
{% else %}
  <meta property="og:image" content="{% static 'img/hokuma_logo_ogp.jpg' %}">
{% endif %}

<!-- Twitter -->
{% if ogp_image_url %}
  <meta name="twitter:card" content="summary">
{% else %}
  <meta name="twitter:card" content="summary_large_image">
{% endif %}
<meta name="twitter:site" content="@huitclub">
